@page
@using System.Data
@model Frontend.Pages.Libros.IndexModel
@{
    ViewData["Title"] = "Libros";
}

<h1>Libros</h1>

<p>
    <a asp-page="Create">Crear libro</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Título</th>
            <th>AutorId</th>
            <th>Estado</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var row in Model.Libros)
    {
        <tr>
            <td>@row.LibroId</td>
            <td>@row.Titulo</td>
            <td>@row.AutorId</td>
            <td>@(row.Estado ? "Activo" : "Inactivo")</td>
        </tr>
    }
    </tbody>
</table>
