@page
@model Frontend.Pages.PrivacyModel
@{
    ViewData["Title"] = "Política de Privacidad";
}

@section Styles {
    <link rel="stylesheet" href="~/css/pages/Privacy.css" />
}

<div class="privacy-container">

    <div class="page-header">

        <div class="titulo-logo">
            <img src="~/assets/icons/privacy_tip_24dp_E3E3E3_FILL0_wght400_GRAD0_opsz24.svg"
                 class="icono-header">
            <h1>Política de Privacidad</h1>
        </div>

    </div>

    <div class="privacy-card">

        <p>
            En <strong>StarBook Library</strong> respetamos la privacidad de nuestros usuarios
            y nos comprometemos a proteger la información almacenada dentro del sistema
            de gestión bibliotecaria.
        </p>

        <p>
            La información registrada en el sistema es utilizada únicamente para fines
            administrativos dentro de la biblioteca, tales como la gestión de libros,
            ejemplares y autores.
        </p>

        <p>
            No compartimos información personal con terceros y mantenemos prácticas
            de seguridad para proteger los datos almacenados en la plataforma.
        </p>

        <p>
            Este sistema ha sido desarrollado con fines académicos y administrativos,
            garantizando el uso responsable de la información gestionada.
        </p>

    </div>

</div>
